<p id="notice"><%= notice %></p>

<h1>Listing exercise_types</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @exercise_types.each do |exercise_type| %>
      <tr>
        <td><%= exercise_type.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="actions">
<p><%= link_to 'New Exercise Type', new_exercise_type_path %></p>
</div>
<div class="actions">
<p><%= link_to "Back to the Homepage", root_path %>
</div>
