<h1>A judgmental summary of your health.</h1>
<h2>Brought to you by:</h2>
<ul>
  <h3><li>Prestige World Wide Inc.</li></h3>
</ul>


<%= link_to "Add weight entry", new_weight_path %>
<%= link_to "Add exercise", exercises_post_path %>
