<h1>A judgmental summary of your health.</h1>
<h2>Brought to you by:</h2>
<ul>
  <h3><li>Prestige World Wide Inc.</li></h3>
</ul>

<div class="actions">
<%= link_to "create weight entry", weights_path %>
</div>

<span>
<div class="actions">
<%= link_to "create exercise", exercises_path %>
</div>
<div class="actions">
<%= link_to "choloric_intake", choloric_intakes_path %>
</div>
<div class="actions">
<%= link_to "step count", step_counts_path %>
</div>
</span>
