<!DOCTYPE html>
<!-- <h1>A judgmental summary of your health.</h1>
<h2>Brought to you by:</h2>
<ul>
  <h3><li>Prestige World Wide Inc.</li></h3>
</ul> -->
<html>
<head>
  <title>HealthTracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
